*{
padding: 0px;
margin: 0px;
}
.header_style{
display:flex;
flex-flow: row;
justify-content: space-around;
height: 40px; 
width: 100%; 
background : #0F0D35; 
position: fixed; 
border-radius: 20px;
}
.header_style img{
align-items: center;
height: 89%;
float:right;
border-radius: 4px;
margin-right: 4px;
}
#mobile{
scroll-behavior: smooth;
}
.header_section{
display: flex;
font-family: 'Exo 2', sans-serif;
background: #C3AD95;
width: 150px ;
height: inherit;
justify-content: center;
align-items: center;
color: azure;
border-radius: 20px;
}
.The_drop_down{
display: none;
height: 100vh;
width: 100vw;
background-color:#9B4643;
border-radius: 20px;
justify-content: space-around;
align-items: center;
flex-direction: column;
padding-top:40px;
}
.The_drop_down_sections{
display: flex;
justify-content: center;
align-items: center;
width:wrap;
height: 10%;
background-color: #605154;
color: wheat;
padding:4px;
border-radius: 5px;
font-family: 'Courier New', Courier, monospace;
}
.div1{
width:100%;
height: 100vh;
background-attachment: fixed;
background-image: url("../Drawables/Images/hero2.jpg"); 
padding-top: 40px;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;  
justify-content: center;
align-items: center;
}
.div1_content_section{
width: 100%;
height: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.below_view{
width: 30%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 9%;
font-family: 'Lobster', cursive;    
}
.below_view li {
font-size:3.2vw;
}
#hero_below_section{
justify-content: space-around;
}
.div1_activate_on_shrink{
display: none;
}
.div1 h1{
color: white;
}
.in_div1_content_section_div{
display: flex;
width: inherit;
height: 33%;
align-items: center;
}
.items ul li {
padding-top: 2%;
list-style: none;
}
.items img{
max-width: 100%;
max-height: 100%;
}
.header_slider{
display: none;
flex-direction:column;
margin-left: 16px;
justify-content: space-around;
width:53px;
padding:1px;
height: 30px ;
background-color: grey;
float: left;
align-items: center;
border-radius: 5px;
}
.header_slider_inside{
background-color: azure;
width: inherit;
height: 5px;
border-radius: 10px;
}
.item_container{
display: flex;
width:100%;
flex-direction: row;
justify-content: space-around;
align-items: center;
background-color:#605154;
}
.items{
display: flex;
float: left;
width: 31%;
font-family: 'Quicksand', sans-serif;
justify-content: center;
align-items: center;
max-width: 60%;
min-width: 30%;
height: wrap;
}
.div1_content_section h1{
font-family: 'Basic', sans-serif;
}
.about_us {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 100%;
height: 60vh;
background-color: #5B3F3C;
overflow: auto;
}
.about_us_section_top{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 30%;
background-color: #5B3F3C;
color: wheat;
font-size: 2.8vw; 
font-family: 'Fjalla One', sans-serif;
}
.about_us_info_container{
display: flex;
width:100%;
justify-content: space-between;
flex-direction: column;
align-items: center;
background-color: #5B3F3C;
color: wheat;
font-size: 1.8vw;
list-style: none;
font-family: 'Crimson Text', serif;
}
.about_us_info_container span{
padding-top:4px;
height: 20%;
display: flex;
justify-content: center;
align-items: center;
}
@media screen and (max-width:805px){
.about_us_info_container{
display: flex;
width:100%;
justify-content: space-between;
flex-direction: column;
align-items: center;
background-color: #5B3F3C;
color: wheat;
font-size: 2.7vw; 
list-style: none;
font-family: 'Crimson Text', serif;
}   
.about_us_section_top{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 30%;
background-color: #5B3F3C;
color: wheat;
font-size: 5.4vw; 
font-family: 'Fjalla One', sans-serif;
}
.about_us_section_top{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 30%;
background-color: #5B3F3C;
color: wheat;
font-size: 4.5vw; 
font-family: 'Fjalla One', sans-serif;
}
}
@media screen and (max-width:501px){
.about_us_info_container{
display: flex;
width:100%;
justify-content: space-between;
flex-direction: column;
align-items: center;
background-color: #5B3F3C;
color: wheat;
font-size: 4.4vw;
list-style: none;  
font-family: 'Crimson Text', serif;
}   
.about_us{
height: 55vh;
}
.about_us_section_top{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 30%;
background-color: #5B3F3C;
color: wheat;
font-size: 6.7vw; 
font-family: 'Fjalla One', sans-serif;
}
}
@media screen and ( max-width:780px ) {
.header_section{
display:none;
}
.div1{
flex-direction: column;
justify-content:space-between;
align-items: center;
}
.header_slider{
display: flex;
float: left;
flex-direction:column;
justify-content: space-around;
width:30px;
height: inherit ;
background-color: #9B4643;
float: left;
align-items: center;
}
.header_style{
display:block;
flex-flow: row;
justify-content: flex-start;
height: 40px; 
width: 100%; 
background :#0F0D35; 
position: fixed; 
border-radius: 20px;
}
.header_style img{
align-items:center;
float: right;
margin-right: 4.6vw; 
justify-content: center;
height: inherit;
}
} 
@media screen and (max-width: 780px){
.item_container{
display: flex;
width:100%;
flex-direction: column;
justify-content: space-around;
align-items: center;
background-color:#605154;
}
.items{
display: flex;
width: 80%;
height:wrap;
font-family: 'Quicksand', sans-serif;
justify-content: center;
align-items: center;
max-width: 60%;
min-width: 30%;
}
}
@media  screen and (max-width: 647px){
.div1_content_section{
display: none;
}
.div1{
width:100%;
height: 80vh;
background-attachment: fixed;
background-image: url("../Drawables/Images/hero2.jpg"); 
padding-top: 40px;
background-repeat: no-repeat;
background-size: cover;
display: flex;  
background-size: cover;
justify-content: center;
align-items: center;
}   
.div1_activate_on_shrink{
display: block;
margin-left: 25%;
width: 50%;
height: 20%;
}
}
@media screen and (max-width: 340px){
.header_slider img{
align-items:center;
margin-left: 30%;
border-radius: 5px;
margin-right: 37vw;
}
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }
footer{
    background-color: #9B4643;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}  